<%= provide(:title, @user.name) %>

<div class="row">

  <aside class="span4">
    <section>
      <%= render 'users/user_info' %>
      <%= render 'users/follow_form' %>
    </section>
  </aside>

  <aside class="span8">

    <h2><%= no_of_ideas @user %></h2>
    <% if @ideas.any? %>
        <%= will_paginate @ideas, class: 'center' %>
        <ol class="microposts">
          <%= render :partial => 'ideas/idea', collection: @ideas %>
        </ol>
        <%= will_paginate @ideas, class: 'center' %>
    <% end %>

  </aside>

</div>
