<header class="navbar navbar-fixed navbar-inverse">

  <div class="navbar-inner">

    <div class="container">

      <% if signed_in? %>
          <%= link_to "Hi... #{current_user.name}", current_user, id:'header_user_name' %>
      <% else %>
          <%= link_to "Sample App", root_url, id: "logo" %>
      <% end %>


      <nav>

        <ul class="nav pull-right">
          <li><%= link_to "Post New Idea", post_new_idea_path, class: 'highlight' %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <% if signed_in? %>
              <%= render 'layouts/add_profile_settings_to_header_with_sign_out_link' %>
          <% else %>
              <li><%= link_to 'Sign in', signin_path %></li>
          <% end %>

        </ul>

      </nav>

    </div>

  </div>

</header>
